<!DOCTYPE html>
<html>
    <head>
        <title>Добро пожаловать!</title>
    </head>
    <body>
        <h1>Добро пожаловать!</h1>

        <p>Click <a href="/users">here</a> to see a greeting.</p>
    </body>
</html>