<!DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <form method="post" action="login">
            <input type="text"     name="username" placeholder="Логин" /><br>
            <input type="password" name="password" placeholder="Пароль" /><br>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Войти</button>
        </form>
    </body>
</html>