<!DOCTYPE HTML>
<html>
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <form action="/logout" method="post">
            <input type="submit" value="Выйти"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form><br>
        {{#message}}
          {{message}}
        {{/message}}
        <form method="post" action="/users">
            <input type="text" name="login" placeholder="Логин" /><br>
            <input type="text" name="firstName" placeholder="Имя" /><br>
            <input type="text" name="lastName" placeholder="Фамилия" /><br>
            <input type="password" name="password" placeholder="Пароль"><br>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <select name="departmentUuid">
                {{#departments}}
                <option value="{{uuid}}">{{name}}</option>
                {{/departments}}
            </select><br>
            <button type="submit">Добавить</button>
        </form><br>

        <form method="post" action="/users/filter">
            <input type="text" name="firstname" placeholder="Имя" /><br>
            <button type="submit">Найти</button>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form><br>

        <div>Список пользователей:</div>
        <table>
            {{#users}}
            <tr>
                <td>{{login}}</td>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{role}}</td>
                <td>{{department.name}}</td>
            </tr>
            {{/users}}
        </table>
    </body>
</html>